[2019-02-15 10:05] fbemm opened #1 "Feature Request - Unaligned Sequences"
Dear Medvedev-Group,

SibeliaZ works fantastic also on large, repetitive genomes. I would like to feature request one thing though. Would it be possible to add unaligned sequences to the output MAF in the end? Some tools require a MAF file to be able to fully recover the input genomes used for the alignment

Thanks,
Felix

[2019-02-15 14:26] iminkin commented on #1
Hi @fbemm,

Thanks for you interest in SibeliaZ. I don't know if it is technically OK to keep unaligned sequences in MAF, but I will take a look. Can you give an example of a tool that requires that so I can do some tests?

[2019-02-15 16:29] fbemm commented on #1
Hi @ilyaminkin,

one tool would be vgtools. The MAF produced by SibeliaZ could by directly parsed into a variation graph. At best the genomes/paths within the MAF file are complete so that no further post-processing is necessary (it might actually be necessary to remove or flatten duplication blocks but that is another thing).

[2019-02-15 19:04] iminkin commented on #1
@fbemm

I received a similar question recently: https://twitter.com/erikgarrison/status/1095953644489461760

It could be possible that you will be better with GFA output. I will take a closer look at vgtools soon.

[2019-02-15 19:10] fbemm commented on #1
GFA would be even better!

[2019-02-25 11:21] tommathers opened #3 "Input file format"
Hi,

Can you confirm how the inout genomes should be formatted? Does each genome need to be in the same fasta file? If all genomes are in the same file how are genomes multiple contigs dealt with? Will the program identify alignments within each input genome as well as between genomes?

Thanks,

Tom.

[2019-02-25 16:25] iminkin commented on #3
Yes, all sequences should be in the same file and should have unique IDs: alignments are reported with respect to the IDs in FASTA files. SibeliaZ is oblivious to the fact that sequences may come from different genomes and will try to find alignments within each sequence as well as between sequences. So far a contig is treated like a chromosome.

Thanks for your questions, I will update the README

[2019-02-26 16:30] iminkin opened #4 "Add multi Fasta files parsing"
Subk

[2019-02-28 10:04] tommathers commented on #3
Thanks for the explanation. To generate an output similar to cactus (after conversion to hal) would I need to parse the MAF file to remove self alignments? For example, by adding a species ID to fasta headers?

Cheers,

Tom.

[2019-02-28 14:07] iminkin commented on #3
Yes, you will have to do it manually.

[2019-02-28 16:33] tommathers commented on #3
Hi,

Sorry if this is a daft question, but I am struggling to make the sibeliaz maf file compatible with downstream tools. msa_view from phast and also the hal tools expect the maf file to be organised relative to a reference species (set by the first id in the alignment with the format "species.chromosome"). I think this is a standard convention for maf?

Is it possible to make sibeliaz output al

[2019-02-28 16:39] iminkin commented on #3
@tommathers,

Can you show an example of a MAF alignment organised relative to a reference so I can adjust output of SibeliaZ?

[2019-03-12 21:44] RenzoTale88 opened #5 "Genome size"
Hi,
I need to align multiple mammalian-sized genomes (4 genomes of 2.7Gb each, 11Gb in one fasta). My question is regarding the limitation in chromosomes length (4294967296 bp). Is it to be intended as the sums of all chromosomes into the fasta file? Or is it intended as the max length per single chromosome?

Thank you in advance
Andrea

[2019-03-12 21:53] iminkin commented on #5
Hi,

It is the max length per single chromosome; there is no hard limit on the total size of the input.

[2019-03-12 21:56] RenzoTale88 commented on #5
Thank you very much for the quick reply.
One more question: do you have an estimated amount of memory and time per genome (with the genome size above described)?

[2019-03-12 22:02] iminkin commented on #5
I would aim for at least 4-5 hours and maybe 100-150 GB of RAM. But it depends a lot on how close the genomes are.

[2019-03-13 11:14] RenzoTale88 commented on #5
Hi,
sorry to come back to you again.
I installed SibeliaZ and tried to run it on two small genomes to test it. However,when I try to run it, I get this error:

twopaco: undefined symbol: _ZN3tbb8internal24concurrent_queue_base_v818internal_push_moveEPKv

Do you know what kind of issue can it be? Thank you again,

Andrea

[2019-03-13 14:42] RenzoTale88 commented on #5
Hi,
sorry again, I've compiled the software using the fix present in https://github.com/medvedevgroup/TwoPaCo/issues/13. After that, I've tried to run the software on two bacterial genomes to check whether the program is working or not. At the beninning, the program start running without problems, but then suddenly stop at the filling/filering with the following error:

.../sibeliaZ/bin/twopaco: s

[2019-03-13 15:25] iminkin commented on #5
It could be that TBB is not properly installed on your system. What Linux distro are you using? If it is Debian-based, the easiest way to install it is sudo apt-get install libtbb-dev or ask your system administrator to do that if you don't have the root rights.

[2019-03-13 15:39] RenzoTale88 commented on #5
I'm working on a cluster environment and I've no admin rights, so I was trying to install it in a local folder, create all the variables and install SibeliaZ afterwards. Using the latest version of TBB it's not working. However, using the version tbb44_20151115 and using the bug above mentioned, allowed the proper installation of the software.

Thank you for your quick reply.

Andrea

[2019-03-13 15:48] iminkin commented on #5
Andrea,

Did you manage to make it work? Just in case, you can try to ask your sysadmin to install TBB using a package manager, it is a very widely available library.

[2019-03-13 16:06] RenzoTale88 commented on #5
Yes, it is working. I have to test it on larger genomes, but the software is running. Thank you again for your support!

Andrea

[2019-03-13 16:07] iminkin commented on #5
No problem, let me know if you encounter any problems.

[2019-04-03 18:38] iminkin commented on #1
Recently I wrote a preliminary version of the MAF -> GFA converter, I will probably release it next week.

[2019-04-03 18:39] fbemm commented on #1
The last NCBI Hackathon came also up with one. Or is that actually yours? Anyway, happy to test it.

[2019-04-03 18:54] iminkin commented on #1
Yes, I wrote it during the Hackathon :) I have to polish the code at bit, but the result seemed to be importable into vg.

[2019-04-10 08:14] fbemm commented on #1
I just tested the Hackathon version. In case of a sequence in the fasta file, that is not aligned at all, so does not appear in blocks, there is a key error. Might be worth to consider for the final version. Happy to test it any time.

[code]

[2019-04-15 06:58] fbemm commented on #1
The behaviour can be prevented by simply removing unaligned sequences from that sequence file passed to maf_to_gfa1.py. The resulting GFA file however looks incomplete. There are a lot of lines which simply contain "FAIL" and only a single path (P) although there should be at least as much as aligned sequences in the MAF file.

[2019-04-15 07:03] fbemm commented on #1
The decomposed blocks look fine (out.maf).

[code]

[2019-04-15 07:07] fbemm commented on #1
I was wrong paths are all there. vg throws some errors due to missing edges though.

`edge 296431 = 296431R to 81283 = 81283R is not present. The GFA file is malformed!`

[2019-04-15 07:34] fbemm commented on #1
Path Subset -> `296429+,296431+,81283-,511432+`

This is related to the fails:

`FAIL    L       296431  +       81283   -       *`

[2019-04-15 12:18] fbemm commented on #1
I narrowed down the issue and it is actually not related to the GFA parser but overlapping MAF blocks.

[2019-04-15 12:19] fbemm opened #6 "Overlapping MAF blocks"
I have the following MAF blocks:

[code]

[code]

Looking at SP_St1-2_v1.CTG1 it seems as the two sub sequences from the blocks overlap:

[code]

The subsequence from block 1 is in RC.

Is that an intended behaviour? This is also what is causing #1

[2019-04-15 12:31] iminkin commented on #6
You can use the "no_overlap" branch, where I fixed the issue: https://github.com/medvedevgroup/SibeliaZ/tree/no_overlap

I also pushed the slightly refactored version of converter: https://github.com/medvedevgroup/SibeliaZ/blob/no_overlap/SibeliaZ-LCB/maf_to_gfa1.py

I will merge this fix into the master along with some other improvements this week, I finally have time to work on the code :)

[2019-04-15 12:31] #6 closed

[2019-04-15 12:38] fbemm commented on #6
Good that I checked the dev branches *facepalm*

[2019-04-18 20:15] iminkin commented on #1
@fbemm

Were you able to accomplish what you wanted to using the MAF -> GFA converter?

BTW, the current dev branch is https://github.com/medvedevgroup/SibeliaZ/tree/v1.1.0, it will be merged into master soon. A notice: I switched the order of the arguments in the converter script because it now supports multiple input FASTA files.

[2019-04-19 06:59] fbemm commented on #1
Yes it works great. Spotted the new argument order. One thing, although I half requested it, troubles vgtools. Paths with a single node, sequences fully unaligned, are causing a segfault in vgtools respectively the GFA importer. GFA specs talks of paths having nodeS. One could think of writing them to a separate fasta file and supply that to vgtools during GFA import. So it would look like this in

[2019-04-19 15:35] iminkin commented on #1
@fbemm I am glad it works. One concern I have is that most practical usages of this kind of graph probably relies on the GFA segments being projected to the original FASTA files somehow. In other words, segments should probably have their FASTA coordinates being stored somewhere. I don't know a  vg-compatible way of doing so.

[2019-04-30 18:33] iminkin commented on #1
Merged v1.1.0 into the master.

[2019-04-30 18:33] #1 closed

[2019-04-30 18:34] iminkin commented on #4
Merged v1.1.0 into the master.

[2019-04-30 18:34] #4 closed

[2019-08-05 12:06] EricDeveaud opened #7 "sibeliaz :: spoa call code duplication"
Hello,

seems to me that sibeliaz code contains duplication code, in the align funtion.

[code]

looks like it performs the spoa alignment twice
first with xargs  $threads process, then with just on process

I don't see the point of removing successfull spoa jobs input file, and performing a new run with remaining inputfiles.

regards

Eric

[2019-08-07 13:37] iminkin commented on #7
H @EricDeveaud,

Thanks for paying such close attention to the code :) The reason for this duplication is that the first line tries to align as many blocks as possible in parallel mode. Unfortunately, the global aligner spoa is quite memory hungry, so sometimes running a bunch of those jobs in parallel results in using up too much memory and they crash. So the second line is for realigning those c

[2019-08-11 08:47] #7 closed

[2019-08-11 08:48] #3 closed

[2019-08-11 08:48] #5 closed

[2019-08-22 11:40] matthieu-haudiquet opened #8 "Feature request: xmfa format"
Hello,

Great software! A lot of tools (ClonalFrameML for ex.) rely on the xmfa format, if it's not too much work maybe you could add it to the possible outputs ?

Best,

[2019-08-22 14:28] iminkin commented on #8
Hi,

Thanks for your interest! It should not be too hard, I will add something in the nearest release (unless there is a ready-made converter).

[2019-08-27 16:46] iminkin commented on #8
Please check out this python script (requires a recent BioPython installation): https://github.com/medvedevgroup/SibeliaZ/blob/smart_seed/SibeliaZ-LCB/maf_to_xmfa.py

It takes MAF as standard input and outputs XMFA to standard output. I will merge this thread to the master soon.

[2019-08-27 19:07] matthieu-haudiquet commented on #8
Thanks a lot! Will try asap

[2019-09-01 13:01] #8 closed

[2019-09-06 11:05] eylenth opened #9 "make install step : ";""
Hi

When I am running the
`make install` step in the installation procedure.
I see the following error at 58%

[code]

I do not know where this ";" comes from between` -fno-math-errno` and `-std=c++11`, but it should be replaced by a space.

[2019-09-09 01:43] iminkin commented on #9
Interesting. Which version of CMake do you use?

[2019-09-09 07:45] eylenth commented on #9
I am using CMake version 3.12.1

[2019-09-23 15:26] sivico26 opened #10 "Redundancy and contamination analysis on assembly"
Hi,

I just assembled an allotetraploid plant genome but I suspect it has a couple of issues as the assembly size is ~3 times larger than the estimated. I think some scaffolds are actually redundant. Also, I have some reasons to think there may be some scaffolds from contamination (_e.g._ human).

So, I wonder If I could use SibeliaZ to:

1. Align my assembly to itself (or to its closest relative,

[2019-09-26 05:38] iminkin commented on #10
Hi,

I think SibeliaZ might be helpful in this scenario, though you will have to find a way to postprocesss the results (or visualize them) to find the roots of the problem.

[2019-09-26 22:17] pashadag commented on #10
Hi Simón,

You can certainly try to use SibeliaZ for this, but as Iila mentioned, you would have to post-process the results. There may be simpler ways to get to the bottom of your problem. For example, for the second issue, you can use BLAT or BLAST to align your scaffolds against the human reference. For the first issue, there might be specialized tools for doing this, for example https://github

[2019-09-27 17:03] iminkin commented on #9
Sorry, I could not reproduce your issue. Could you please update your cmake installation? Please let me know if it does not help, I will add a binary distribution in the repo.

[2019-09-28 09:36] iminkin commented on #9
I added the binaries: https://github.com/medvedevgroup/SibeliaZ/releases/download/v1.2.0/SibeliaZ-1.2.0-Linux.tar.gz

[2019-09-30 08:49] eylenth commented on #9
I am already using a recent version of Cmake. What version do you recommend?

But it seems the precompiled binaries are working

[2019-09-30 09:24] iminkin commented on #9
@eylenth,

I am glad that the binaries are working. I'd try the latest CMake which is 3.15.3: https://cmake.org/download/.

[2020-02-24 07:42] LLS007 opened #11 "I got the problem about the out put"
when I ues the doucument called SibeliaZ-1.2.0-Linux

I ues the commond follow this ./sibeliaz -t 6 /home/lychee/dissertation/ZKV_99cutoff.fasta

however there get some probelms
Constructing the graph...
Threads = 6
Vertex length = 25
Hash functions = 5
Filter size = 17179869184
Capacity = 1
Files:
/home/lychee/dissertation/ZKV_99cutoff.fasta
-------------------------------------------------------

[2020-02-26 00:45] LLS007 commented on #11
cmake .. -DCMAKE_INSTALL_PREFIX=<path to install the binaries>

I want ot ask what's mean of the <path to install the binaries>

[2020-02-26 01:17] LLS007 commented on #9
if I can ask you some questions about how to install the sibeliaz, when  I try to install the sibeliaz, I find it  don't work

[2020-02-26 03:09] iminkin commented on #11
@LLS007 ,

Thanks for opening the issue. I will get back to you shortly.

Thank you,

Ilia Minkin

[2020-02-26 18:43] ShoumikSaha opened #12 "Empty MAF file in output"
I'm getting just one line in **MAF** file of output -
**"maf version=1"** and fasta files in **'blocks'** folder.
I'm using a **4GB** ram, is it not enough?
Even I tried with so small input file and still not getting any information in MAF file.
It will be so helpful if I get MAF format. Thanks in advance.

[2020-02-27 07:56] LLS007 commented on #11
I still have the problem bleow, and I use your document of SibeliaZ-1.2.0-Linux/bin
I'm not sure what's the problem of the situation, beacause my data run in my classmate's PC is ok

lychee@lychee:~$ sibeliaz _rebuild.fasta
Constructing the graph...
Threads = 1
Vertex length = 25
Hash functions = 5
Filter size = 17179869184
Capacity = 1
Files:
_rebuild.fasta
---------------------------------------

[2020-03-03 16:34] iminkin commented on #12
@ShoumikSaha ,

Sorry for the late reply. Unfortunately, SibeliaZ requires large amounts of memory to produce the resulting alignment even for small outputs. This is due to the high memory consumption of the aligner we use, spoa. So yes, 4GB is enough to produce the collinear blocks, but not their alignment. The reason why we use spoa as a default aligner is its high-speed which is crucial for lon

[2020-03-03 16:57] iminkin commented on #11
@LLS007 ,

SibeliaZ consists of several programs that have to be installed to work properly. To answer your question:

This option sets the path where the binaries will be copied, the path should start after the '=' sign. For example, if you would like to install SibeliaZ to your home directory, you can type:

`cmake .. -DCMAKE_INSTALL_PREFIX=~`

This command will make sure that SibeliaZ binaries

[2020-03-03 19:30] ShoumikSaha commented on #12
Thanks for your reply.
In my case, speed is not crucial. I need the alignments. Is there any option available now for global aligner with limited memory?

[2020-03-03 19:58] iminkin commented on #12
@ShoumikSaha , not right now. If you don't have an access to a machine with larger memory right away, an option worth considering is renting one on Amazon/Azure.

[2020-03-04 09:25] LLS007 commented on #11
I want to say maybe the problem comes from my Linux's RAM， and I use the sibeliaz -f 0.5 to give the RAM first and solve the problem.

Thanks for your help !

[2020-03-20 03:52] liaoherui opened #13 "2 problems of sibeliaz in my experiment (Bug or not ?)"
@iminkin
Hi, iminkin , thanks a lot for your amazing tool, it performs a really important role in my research !

However, I got 2 problems when I did the experiment with sibeliaz to find the colinear block  of a collection of highly similar viral genomes.

Problem1:
Sibeliaz fails to run with 5 highly similar viral genomes (Cluster_17_revise.fasta).
These 5 viral genomes are clustered by cdhit wit

[2020-03-23 14:45] iminkin commented on #13
Hi @liaoherui ,

Thanks for reporting the issue. I will take a look soon.

[2020-03-23 14:53] liaoherui commented on #13
@iminkin
Ok！ Thanks a lot !

[2020-03-24 04:07] iminkin commented on #13
@liaoherui ,

1) The crash you reported was caused by a software bug in SibeliaZ. I pushed the fix to the master branch. Please update your installation and check if it works. Thanks for catching it!

2) These results are probably caused by the abundance (-a) parameter being set to value that is too small. Basically, all k-mers that occur more than (-a) times in the input get filtered out and it r

[2020-03-24 04:50] liaoherui commented on #13
@iminkin

The problems are all  resolved with your help! That's really wonderful !

Thanks a lot for your help again!

[2020-03-24 07:35] liaoherui commented on #13
@iminkin
Sorry to ask another small question....

You mentioned the calculation method about the parameter "-a" is:
             `number_of_genomes*highest_multiplicity_of_the_block * 2`

I am a little confused that how can I know the value of "highest_multiplicity_of_the_block".

For example, in this case, there are totally ~400 genomes and it's easy to know the "highest_multiplicity_of_the_block

[2020-03-24 14:37] iminkin commented on #13
Hi @liaoherui ,

Sorry for the confusion. You have to make an assumption about the highest number of instances a block has based on prior knowledge about the input genomes. For example, you may use the (estimated) size of the largest gene family in your genomes, if you are mainly interested in aligning genes. Another approach is to try different values and assess the results. I just tried 6400 and

[2020-03-24 16:17] iminkin commented on #13
I will also update the documentation to clarify the logic behind setting the parameters.

[2020-03-25 01:53] liaoherui commented on #13
Ok. It's good to hear that.  Thanks for your explaination and debug!

Btw, in my experiment, improving "-a"  can make all genomes covered with blocks, but I also find a problem that  you mentioned in "Vertices frequency threshold" section. If I set "-a" too high ,then it will make the graph large and convoluted (even in these short viral genomes), and that is a disaster for the downstream analysis

[2020-03-26 18:32] iminkin commented on #13
@liaoherui

I am glad that you find SibeliaZ helpful in your work. We do have plans to improve the usability of our tools.

[2020-04-13 09:02] housw opened #14 "TabError: inconsistent use of tabs and spaces in indentation"
Hi,

it seems the `maf_to_gfa1.py` has some formatting problem, could you please confirm it?
[code]

Thanks a lot!

[2020-06-05 16:56] LeebanY opened #15 "Installation issues"
Hi,

First of all, thanks for taking the time to answer these questions and for providing this software.

I'm having several issues trying to install SibeliaZ on the cluster. Using the installation method in the README, the make files can't seem to find libraries necessary for building the programs. I fixed most of these by adding full paths, but I can't fix this error that I get:

file INSTALL ca

[2020-06-09 00:35] baizixiansheng opened #16 "Are there a script to make circos plot?"
After running the command: `sibeliaz -t 10 genome1.fa`, the output as follow:
`-rw-rw-r-- 1 shu shu 1.1G Jun  8 18:59 alignment.maf`
`drwxr-xr-x 2 shu shu  38M Jun  8 18:59 blocks`
`-rw-rw-r-- 1 shu shu 392M Jun  8 17:32 blocks_coords.gff`
ant the blocks/ file is empty. We want to get the circos input data, just like Sibelia- 3.0.7 ( but it could proceed input which is larger than 1 GB ). Thank yo

[2020-06-10 23:04] iminkin commented on #15
Hi @LeebanY,

If you don't have admin rights at your cluster, you can still locally install SibeliaZ. It works best to make an installation to a directory that is in your PATH, e.g. ~/bin folder (a folder for binaries in your home directory). To make a local installation, run the following commands (while in a freshly cloned repository of SibeliaZ):

git submodule update --init --recursive

mkdir

[2020-06-10 23:12] iminkin commented on #16
Hi @baizixiansheng ,

There is no such script now. We might add it in the future, but it is very likely that Circos plots made from large outputs will be way too convoluted and hard to read, though it depends a lot on the data. Please also note that SibeliaZ is slightly different from Sibelia: Sibelia is designed to generate large synteny blocks representing long common sequences, while SibeliaZ t

[2020-06-11 00:16] LeebanY commented on #15
Hi,

Thanks for the reply.

So, I tried installing to ~/bin and got this error:

[ 58%] Building CXX object TwoPaCo/src/graphdump/CMakeFiles/graphdump.dir/graphdump.cpp.o
/storage/home/users/x/bin/SibeliaZ/TwoPaCo/src/graphdump/graphdump.cpp:14:31: fatal error: tbb/parallel_sort.h: No such file or directory
 #include <tbb/parallel_sort.h>

I also tried to install in the bin directory of a couple o

[2020-06-11 01:14] iminkin commented on #15
@LeebanY,

You have to install the TBB library on your machine. Unfortunately, it can be quite tricky to do so without admin access. But it is a quite common one, so you can try to ask your system administrator to install it. If you are running on a Debian-like system (e.g. Ubuntu), then you need to install the package libtbb-dev.

[2020-06-11 01:25] LeebanY commented on #15
@iminkin

So, I've downloaded tbb via conda but I guess graphdump is expecting the tbb directory to be in a particular location. Is there anyway to provide the path for my tbb directory beforehand?

I've tried -DTBB_DIR=<tbb directory path> with this command:
cmake .. -DCMAKE_INSTALL_PREFIX=<path to install the binaries>

I've also tried moving my tbb directory to various different places in my fi

[2020-06-11 03:17] iminkin commented on #15
@LeebanY ,

Which package did you install, tbb or tbb-devel? I think you need tbb-devel.

[2020-06-15 02:22] liaoherui commented on #13
@iminkin
Hi, iminkin! Recently, I found another problem about the script "**maf_to_gfa1.py**".

When I use this script to transform the maf file to gfa file, I found, for some genomes, the final path sequence in the graph is not completely same with their original genome sequence.  A simple example is like :

......CATATAGT......  (sequence from original genome)
...... | -  | - | . . |......
.....

[2020-06-19 13:17] LeebanY commented on #15
@iminkin

I tried both. Neither seemed to work.

[2020-07-01 13:09] iminkin commented on #15
@LeebanY

I plan to make SibeliaZ not depend on TBB. I will release a new version probably this month.

[2020-07-01 13:11] iminkin commented on #13
@liaoherui ,

Sorry for the late reply. I will take a look and fix it soon.

[2020-07-01 13:15] liaoherui commented on #13
Thanks for your reply! I forget to say that this problem is already fixed by myself. It's a result of reverse strand. I found, when the block contains "-", sequences labeled as "-" are not completely same as original sequence. I make the sequences consistent with original genome by removing "-" sequences. :)

[2020-07-01 13:22] iminkin commented on #13
@liaoherui , could you please elaborate? Do you mean that the bug occurs when FASTA files contain the characters '-'?

[2020-07-01 13:34] liaoherui commented on #13
@iminkin
Let me show you the example.
![image](https://user-images.githubusercontent.com/22760266/86249444-e4453d00-bbe1-11ea-8126-044368eee8d4.png)
In this screeshot, there is a negative block ("-") of HCV_527. In fact, the original sequence of HCV_527 should be the reverse strand of this negative block.

More specifically, the original sequence of HCV_527 in this region should be : HCV_527 GTGAT

[2020-07-01 13:39] iminkin commented on #13
@liaoherui , I see, thanks for reporting, I will fix it.

[2020-07-30 17:17] iminkin commented on #13
@liaoherui ,

Could you please provide the sequences, at least HCV_527, and HCV_528 so that I can exactly reproduce the error and fix it?

[2020-07-31 11:34] liaoherui commented on #13
Ok. These 2 sequences are uploaded. :)

[HCV.zip](https://github.com/medvedevgroup/SibeliaZ/files/5006790/HCV.zip)

[2020-07-31 11:48] iminkin commented on #13
@liaoherui ,

Thank you very much! Unfortunately, I could not reproduce the problem on my own. Could you please provide the whole collection if possible, along with the MAF alignment file? Also, how do you convert the GFA back to FASTA? What was the command-line you used to generate the alignment with SibeliaZ?

[2020-07-31 14:59] liaoherui commented on #13
The command-line I used to generate the alignment with SibeliaZ:
`sibeliaz -t 6 -k 15 HCV_mutation_strain_new.fasta`
The command-line I used to convert MSA to GFA:
`python  maf_to_gfa1.py sibeliaz_out/alignment.maf HCV_mutation_strain_new.fasta > raw_graph.gfa`

I extract the fasta from GFA using my own code, and the basic logic is to connect all nodes from specific path.
A simple example:
S 1 A
S

[2020-07-31 15:47] iminkin commented on #13
@liaoherui yes, feel free to send the files

[2020-07-31 16:08] iminkin commented on #13
BTW, I have a utility script for gluing back GFA into the sequences: https://github.com/medvedevgroup/TwoPaCo/blob/master/src/graphdump/glueGfa1.py

[2020-07-31 16:33] liaoherui commented on #13
Ok. Thanks!
Finally, I used this email address: 851836818@qq.com. You can check it.

[2020-08-06 15:23] iminkin commented on #14
Thank you for reporting it, fixed in 1.2.1: https://github.com/medvedevgroup/SibeliaZ/releases/tag/v1.2.1

[2020-08-17 09:34] Chipcui opened #17 "IndexError: string index out of range"
Hi,
When I run the `maf_to_gfa1.py` script to convert `alignment.maf` to gfa format, but it occurs the following error:
[code]
And part of the `alignment.maf` file:
[code]

So, how to solve this error?
Thank you in advance!

[2020-08-18 14:41] iminkin commented on #17
Thanks for reporting it, I will take a look an get back soon.

[2020-08-23 11:14] iminkin commented on #17
@Chipcui ,

The alignment.maf file looks really suspicious. Particularly, lines like these:

Could you please provide the FASTA file containing kale_chrA01?

[2020-08-24 00:47] Bobo22331 commented on #17
@iminkin ,

Here is the kale_chrA01 file:
[kale.id_kale_chrA01.zip](https://github.com/medvedevgroup/SibeliaZ/files/5115264/kale.id_kale_chrA01.zip)

Thank you!

[2020-08-25 16:28] iminkin commented on #17
@Chipcui

Could you please share the whole input? Unfortunately, I can't reproduce the bug using kale_chrA01 alone.

[2020-08-26 00:25] Bobo22331 commented on #17
Ok, here is the westar.id_chrA01.fa and alignment.maf file:
[westar.id_chrA01.zip](https://github.com/medvedevgroup/SibeliaZ/files/5126886/westar.id_chrA01.zip)
[alignment.zip](https://github.com/medvedevgroup/SibeliaZ/files/5126887/alignment.zip)

Thank you!

[2020-08-26 07:22] iminkin commented on #17
Hi @Chipcui ,

Thank you for providing the input files. Could you please try to rerun SibeliaZ? When I tried to run it on my machine and the files you provided, I got the following results without errors:

https://drive.google.com/file/d/1CTw1MZkBN7muhNeSyfbXFQnGGJoAWENQ/view?usp=sharing

[2020-08-26 08:17] Bobo22331 commented on #17
Ok, I will try again. Thank you!

[2020-08-26 14:34] Bobo22331 commented on #17
@iminkin ,
As you said, I rerun SibeliaZ with the following command:
[code]
And when I try to convert alignment.mfa to alignment.gfa using `python2 ~/tools/biosoft/SibeliaZ-1.2.1/SibeliaZ-LCB/maf_to_gfa1.py westar_kale_chrA01/alignment.maf data/westar.fa.split/westar.id_chrA01.fa data/kale.fa.split/kale.id_kale_chrA01.fa >westar_kale_chrA01/alignment.gfa`, it still occurs the above error:
[code]
I

[2020-08-27 12:48] Bobo22331 commented on #17
Hi,
I have reinstall SibeliaZ and rerun it, then it's worked! Maybe there is something wrong with my last installation.

Than you again!

[2020-08-27 12:48] #17 closed

[2020-08-27 12:50] iminkin commented on #17
No problem! I am glad it finally worked. Computers are tricky, sometimes strange things happen :)

[2020-08-30 15:40] ShoumikSaha opened #18 "Command terminated by signal 11 (Segmentation Fault)"
I have been trying to align 798 fasta files but it's showing this error-
"_Round 0, 0:17179869184
Pass    Filling Filtering
Command terminated by signal 11
TwoPaco: 44.78 seconds elapsed, 2280796 KB memory used
Loading the graph...
error: Can't read the input file
Command exited with non-zero status 1_"

It performs fine if I try to do with less number of fasta files (example - 353).
Is there any

[2020-08-31 01:26] iminkin commented on #18
Hi,

It could be possible that some of the paths to your input file are incorrect. Could you please check them?

[2020-10-24 03:47] noahaus opened #19 "Validation in Bacteria"
I feel like this type of method would work as a fantastic competitor to bacterial whole genome alignment software such as Mauv/progressiveMauve. Have you tried validating this software with bacterial datasets at all? looking to use a program like this for my own research trying to analyze bacterial genomes

[2020-10-24 05:06] iminkin commented on #19
Hi @noahaus,

We only validated SibeliaZ on a simulated bacterial dataset and a real mammalian one. We did not rigorously validate on a real bacterial dataset since our resources are limited. My guess would be that SibeliaZ should work fine on bacterial datasets since their organization is not as complex. However, if you would like to align hundreds of genomes at once, you will probably have to ad

[2020-10-30 06:56] iminkin commented on #15
Sorry for getting to it late, but sibeliaz is now available at bioconda: https://bioconda.github.io/recipes/sibeliaz/README.html?highlight=sibeliaz#package-Recipe%20&#x27;sibeliaz&#x27;

[2020-11-03 00:36] devenderarora opened #20 "Visualization of output and maf_to_gfa1.py TabError: inconsistent use of tabs and spaces in indentation"
Dear iminkin,
I was trying to make circos plot using your extremely user friendly tool SibeliaZ. I have my input ready in fasta file and got output in maf and gff format. I would like to visualize the plot henceforth I ran python
maf_to_gfa1.py <MAF alignment file> <input FASTA files>
but ended up with the error at line nume 96
prev_profile = profile(maf, 0)
TabError: inconsistent use of tabs and

[2020-11-04 15:54] iminkin commented on #20
Hi, thank you for reporting! I pushed a fix to the master, could you please pull and check if maf_to_gfa1 works? With regards to XMFA conversion, it relies on an external library, so there is no easy way to speed it up right away. Did it finish by now?

[2020-11-05 01:32] devenderarora commented on #20
Dear iminkin,
Thanks for the early response.
Yesterday, I terminated XMFA conversion as it show nothing in top command.
I tried executing again maf_to_gfa1.py but ended up with an error:

(r_env) arora@info4:/680_info4/project/arora/circo/sibeliaz_out$ python maf_to_gfa1.py alignment.maf 1.fasta 2.fasta
  File "maf_to_gfa1.py", line 174
    print "S\t" + str(b + 1) + "\t" + blocks[b][0].body

[2020-11-09 00:41] devenderarora commented on #20
Dear iminkin,
I am able to make .gfa file after successfully running mfa_to_gfa1.py fasta1 fasta2 > output.gfa
I found no support in vg to open .gfa file and tried open the respective gfa file in Bandage viewer for gfa file but it ended up with segmentation fault.
Please share how can we visualize the .gfa file I will be grateful to you.

[2020-11-11 16:49] iminkin commented on #20
@devenderarora , what is the size of your dataset? Honestly, visualizing a maf alignment as a GFA graph is unlikely to work for any relatively large dataset; even for smaller ones, the resulting graph is quite large and clumsy.

[2020-11-12 00:17] devenderarora commented on #20
~2.7gb. Graphical representation is what I am looking for to better understand and explain result output.
Thankyou again

[2020-11-16 07:08] iminkin commented on #20
Sorry, but I suspect that it could be quite challenging to visualize a dataset of such size. Maybe there are solutions out there, but I don't think I can help.

[2020-11-19 05:27] devenderarora commented on #20
No problem friend. I will look for some way out.
Thankyou.

[2020-11-19 05:27] #20 closed

[2020-11-30 03:24] jeremylp2 opened #21 "Reduce number of files created?"
Hi,

I've noticed that Sibeliaz creates a very large number of small files in the "alignment" folder while running. I saw about 1.7 million files generated for 3 genomes (sizes 400, 500 and 1000 Mb). Is there any way to reduce this footprint, even if it reduces speed significantly? I'm working on a system with an inode quota, so for larger alignments I'm likely to be unable to run Sibeliaz, even t

[2020-11-30 04:08] iminkin commented on #21
Hi,

I envisioned this issue coming up at some point. I think there should be an easy fix, I will try to come up with a solution around next week.

[2020-11-30 05:00] jeremylp2 commented on #21
Great, thanks for the quick response!

[2020-12-27 06:48] ShoumikSaha opened #22 "command terminated by signal 9"
I was trying to perform global alignment on 887 fasta files. But it's giving me this error-

_Loading the graph...
Analyzing the graph...
[.Command terminated by signal 9
SibeliaZ-LCB: 3450.12 seconds elapsed, 243401532 KB memory used
Performing global alignment.._

Is this a memory issue or something else?

[2021-01-07 23:21] cjfiscus opened #23 "time should be conda dependency"
Hi,

Installed sibeliaz from conda on linux centOS system. Attempted to run with test dataset and receive the following output:

Constructing the graph...
line 131: /usr/bin/time: No such file or directory
line 132: /usr/bin/time: No such file or directory
rm: cannot remove './sibeliaz_test/de_bruijn_graph.dbg': No such file or directory
line 137: /usr/bin/time: No such file or directory

I am run

[2021-02-22 01:03] sapoudel commented on #19
Hey @iminkin
I am also trying to use this with bacterial genomes. I am currently trying to align 2000 S. aureus genomes (2.8 kb each) from same clonal complex i.e. they should have very little genomic differences. I am trying to understand how the memory required scales with size of the genome vs. number of genomes aligned.

[2021-03-10 06:41] tdcollingsworth commented on #19
@noahaus @sapoudel @iminkin
Anyone have a good idea how we might generate a ".bbcols" file to pair with the MAF?

[2021-03-12 10:22] tderrien opened #24 "twopaco: symbol lookup error"
Hello,

I installed SibeliaZ with `conda` on our cluster where I do not have root permissions.
Here the output :
[code]

Thank you for your help.

Thomas

[2021-03-30 14:15] zfuller5280 commented on #21
Has this issue been resolved? We are running into a similar problem with >1 million intermediate files generated and getting inode quota errors. Thanks!

[2021-04-01 07:48] iminkin commented on #21
In progress, stay tuned.

[2021-04-04 15:33] iminkin commented on #21
Hi all,

Sorry for the delay. Global pandemic corrected some of my plans, but I will try to maintain SibeliaZ and keep it going. I pushed a potential solution here, branch "no_block_files": https://github.com/medvedevgroup/SibeliaZ/tree/no_block_files

Please check it out and let me know if it fixes the issue you are facing. It is not a release (yet), but changes are minimal compared to 1.2.2.

[2021-04-14 21:13] motutaj opened #25 "How can I create UCSC a bigMaf track from sibeliaz .maf?"
Following steps  from UCSC http://200.144.254.2:8001/goldenpath/help/bigMaf.html I cannot create bigMaf.txt

mafToBigMaf genome1 examples/sibeliaz_out/alignment.maf stdout | sort -k1,1 -k2,2n > genome1bigMaf.txt
reference databases (genome1) must be first component of every block on line 20

I would appreciate any suggestion

[2021-05-07 10:20] iminkin commented on #23
Hi, thank you for reporting the issue and sorry for the late reply. You can safely remove time from the script, it is just a remnant from the initial version. I will likely remove time in the next release.

[2021-05-07 10:40] iminkin commented on #25
Hi @motutaj , it seems that the postprocessing program you are trying to run needs every block to contain the reference genome. SibeliaZ does not rely on a reference, so you can probably circumvent this problem by writing a small script that filters out all alignment blocks that do not contain some reference sequence.

[2021-05-07 17:12] iminkin commented on #24
Hi, sorry for the late reply. Could you please provide extra details about the system you used? Particularly, the version of the operation system.

[2021-05-10 07:37] smallfade opened #26 "Error when using sbatch"
Hi,

I could get the sibeliaz command running fine on a node directly, but when I try to send the job using sbatch or snakemake --profile, I got errors.
When use the sbatch the error is :
[code]

when use the snakemake --profile, the error is:
[code]

Maybe some hardcoded codes cause this error? How can I make SibeliaZ work with clusters?

[2021-05-10 08:02] #26 closed

[2021-05-10 08:03] smallfade commented on #26
similar issue to https://github.com/medvedevgroup/SibeliaZ/issues/23

[2021-05-10 08:05] smallfade commented on #23
Any possible workaround to work on a cluster and without building the source?

[2021-05-11 13:00] iminkin commented on #23
I think I can just make a small release this week, it will also incorporate the fix for #21

[2021-05-12 02:29] smallfade commented on #23
That would be of great help! Thanks!

[2021-05-12 06:42] smallfade opened #27 "Inaccurate coordinates in MAF file"
After running SibeliaZ between two fasta files, I found the coordinate is different from the original fasta file, and the sequence did not match back to the reference or query file. Both input files contain hard-masking regions. Did the output remove the hard-masking region length from original position? How could I get the same coordiantes as in the original file?

[2021-05-12 07:01] iminkin commented on #27
Hi, that is very interesting. Could you please share the input and the parameters you used?

[2021-05-12 07:32] smallfade commented on #27
I did not change the default parameters.
`sibeliaz -t 40 -o out_dir GRCm38.primary_assembly.genome.fa xxxx_strain_assembly.fa`

I'm sorry, it may not be a problem with SibeliaZ. The output I checked is from mafFilter, which might be the culprit here. The original MAF from SibeliaZ does not have the "inaccurate" coordiantes. But I wonder how to process the output from SibeliaZ to get VCF file for c

[2021-05-19 02:26] Karimi-81 opened #28 "twopaco: error while loading shared libraries: libtbb.so.2: cannot open shared object file: No such file or directory"
Hi there,
I used conda to install the sibeliaz:
conda install -c bioconda sibeliaz
However, I tried to run the program, I encountered with following error:
(base) -bash-4.2$ sibeliaz assembly_mini.fasta
Constructing the graph...
twopaco: error while loading shared libraries: libtbb.so.2: cannot open shared object file: No such file or directory
TwoPaco: 0.00 seconds elapsed, 216 KB memory used
Loa

[2021-05-22 06:58] iminkin commented on #28
Hi @Karimi-81 , do you have root privileges on the machine you are using?

[2021-05-22 16:49] iminkin commented on #28
In the meanwhile, I found a similar issue with another project. Could you try a solution described there, i.e. downgrading tbb by running

```conda install tbb=2020.2```

?

Link to the thread: https://www.biostars.org/p/494922/

[2021-05-22 17:27] Karimi-81 commented on #28
Thank you. The suggested solution worked well. Now, program runs smoothly.
Best,
========================================
Karim Karimi
Ph.D in  Animal Breeding & Genetics
Postdoctoral Fellowship in Mink Genomics
Department of Animal Science and Aquaculture

Dalhousie University
Tel: (902) 814 4442
________________________________
From: Ilia Minkin ***@***.***>
Sent: Saturday, May 22, 2021 1:49 PM

[2021-05-23 02:17] iminkin commented on #24
A possible solution can be found here: https://github.com/medvedevgroup/SibeliaZ/issues/28

[2021-05-23 16:48] iminkin commented on #21
Incorporated in https://github.com/medvedevgroup/SibeliaZ/releases/tag/v1.2.3

[2021-05-24 07:03] iminkin commented on #23
Hi @smallfade,

SibeliaZ 1.2.3 that does not depend on time should be in bioconda now.

[2021-05-25 14:17] elissaralam opened #29 "Large genome files"
Hello,

I have two large genome files and would like to use SibeliaZ. I recently read this on a biostars thread "Yes, by SibeliaZ you can get .gfa file out of a fasta file. They recently updated there old version and now large genome file can also be used for the same."
But I cannot find any confirmation that SibeliaZ supports large genome files in your version history. Can you confirm that?

Than

[2021-05-26 11:48] iminkin commented on #29
Hi @elissaralam , yes SibeliaZ was developed for handling larger datasets.

[2021-05-28 19:41] elissaralam commented on #29
Hello,

Thank you for your quick response! SibeliaZ worked perfectly well in generating a global alignment for my two genomes. However, i am trying to generate a gfa file from the maf file using the function "python maf_to_gfa1.py" but i am constantly getting an IndexError "IndexError: list index out of range". Have you encountered this before?

Thank you for your help,
Elissar

[2021-05-31 15:45] iminkin commented on #29
Hi Elissar,

Sorry, but it seems to be a bug in my code. Is it possible for you to share the input and output files you have so that I can try to debug the script?

Ilia

[2021-06-09 15:40] Karimi-81 commented on #28
Sorry to interrupt you again. I got another error:
Constructing the graph...
Threads = 16
Vertex length = 25
Hash functions = 5
Filter size = 68719476736
Capacity = 1
Files:
/scratch/karimi81/sibeliaz/genome1.fasta
/Pacbio_data/NCBI_Prep/assembly_new_IDs.fasta
--------------------------------------------------------------------------------
Round 0, 0:68719476736
Pass	Filling	Filtering
1	188	335
2

[2021-06-10 16:13] pipecedeno opened #30 "bash: line 11, 12 and 13: No such file or directory"
Hello,
 I recently installed sibeliaz in the cluster were im working using conda as it's shown instalation part. But when im trying to align 2 genomes, like the 2 genomes of the example of the github y get the following output:
`sibeliaz genome1.fa genome2.fa
Constructing the graph...
Threads = 8
Vertex length = 25
Hash functions = 5
Filter size = 17179869184
Capacity = 1
Files:
genome1.fa
genome2

[2021-06-12 02:37] dongyangzheng opened #31 "free -w erro"
Hi professor.
i am come across some problem  when using the software. and get and empty results of maf .  test on another machine the free -w  warning is missed but still exist  bash line erro
 below is the  log
Round 0, 0:17179869184
Pass    Filling Filtering
1       9       1
2       0       0
True junctions count = 79040
False junctions count = 0
Hash table size = 79040
Candidate marks count =

[2021-06-12 02:48] dongyangzheng commented on #30
also i got the same err

[2021-06-12 10:44] Axze-rgb opened #32 "How would it deal with phased genomes?"
Hello,

Thought experiment here:

I was wondering how SibeliaZ would handle phased genomes as input? A priori I don't see a major reason it wouldn't work, if not for the output that would be very complicated to parse I guess.

Thank you

[2021-06-15 04:52] ghost commented on #30
I also get the same error after multiple re-installs. Sibeliaz runs but with an empty maf file. I installed sibeliaz via conda.

[2021-06-17 08:31] sapoudel commented on #30
Same. All the .tmp files are there and populated. So are block* files. Alignment file is also there but it only contains path to the input file e.g.
/path/to/file1.fna /path/to/file2.fna ... etc.

[2021-06-18 09:58] iminkin commented on #30
Hi all,

Thank you for the reports. I will take a look soon.

[2021-06-23 14:24] dukecomeback opened #33 "during install: 'gzFile_s' was not declared in this scope"
This is the error pops out during "make install", I'm not sure what is going on.

[2021-06-29 08:28] matt-shenton commented on #30
Getting the same error here too. Looking forward to trying out the tool!

[2021-07-01 11:56] markopetek commented on #30
Same error for me. Installed using conda. It did however generate the maf and gff files and did not leave any tmp or block* files.

The maf file is empty.

[2021-07-02 09:20] markopetek commented on #29
I'm also trying to align two large genome files (~840Mbp) of the same species and got the same error with maf_to_gfa1.py.

this is the full error message:
[code]

[2021-07-02 12:03] dpryan79 commented on #30
Same here, on the command line it's trying to run the following:

    bash -c "block_align outdir/229.tmp 'outdir/alignment.maf' ''"

It seems likely that this is the source of the error

[2021-07-02 22:55] dpryan79 commented on #30
This is caused by https://github.com/medvedevgroup/SibeliaZ/blob/master/SibeliaZ-LCB/sibeliaz#L129

`$DIR` is set to "", which ends up causing problems due to https://github.com/medvedevgroup/SibeliaZ/blob/master/SibeliaZ-LCB/sibeliaz#L77 , since `$4` is actually now in `$3`. Since spoa is somewhere in the path, there's no reason `$DIR` should be passed around. An easy solution is to adjust line 1

[2021-07-08 12:51] #31 closed

[2021-07-15 22:06] sapoudel commented on #30
@dpryan79 suggestion works if you installed it with bioconda. Thanks!

[2021-07-20 08:49] #32 closed

[2021-08-03 10:45] cmeesters opened #34 "Installation issues"
Hi,

Just dowloaded release 1.2.3 and tried to compile, to eventually support SibeliaZ in the easybuild framework. Yet:

`CMake Error at CMakeLists.txt:13 (add_subdirectory):
  The source directory

    /dev/shm/SibeliaZ/1.2.3/GCCcore-10.2.0/SibeliaZ-1.2.3/spoa

  does not contain a CMakeLists.txt file.

CMake Error at CMakeLists.txt:14 (add_subdirectory):
  add_subdirectory given source "TwoPaCo/

[2021-08-11 01:00] 0xaf1f opened #35 "please include ##sequence-region pragmas in blocks_coords output"
In the [GFF specification](https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md#other-syntax), there's an optional-but-highly-recommended header pragma for specifying the boundaries of every sequence described in the file:

    The sequence segment referred to by this file, in the format "seqid start end". This element is optional, but strongly encouraged because it allows p

[2021-08-21 14:29] iminkin commented on #35
Hi, thank you for the useful suggestion. I will include it in the next release.

[2021-08-21 14:37] iminkin commented on #34
Hi Christian,

Did you download the source archive from the ["releases" web page](https://github.com/medvedevgroup/SibeliaZ/releases)? If so, I would suggest compiling/install SibeliaZ using git cloning (see the instructions [here](https://github.com/medvedevgroup/SibeliaZ#compilation-and-installation)).

Unfortunately, I don't think I can fill those directories. It is a well-known issue of github

[2021-09-06 11:12] iminkin commented on #35
Actually, during working on this issue I realized that the output of SibeliaZ is not fully compliant with the GFF3 specification (or even GFF2 which it was supposed to). Here is an example of the fixed output format: https://github.com/medvedevgroup/SibeliaZ/blob/develop/examples/sibeliaz_out/blocks_coords.gff

Please let me know if you see any issues or have suggestions to improve it.

[2021-09-08 19:28] cmeesters commented on #34
Hi Ilia,

I am sorry for the late reply (been on a holiday and then had catching up to do). In essence, I will not use git cloning of submodules to support your software via easybuild. This is because with cloning submodules, there is no way of knowing which status the dependencies are in and whether or not there has been an unexpected update, which changes functionality in your software, even tho

[2021-09-13 01:58] 0xaf1f commented on #35
Thanks! This looks great to me. I'd written [a script](https://gitlab.com/LPCDRP/syntement) to reformat raw alignment/annotation markers directly into synteny blocks to assess the impact of aggregation using maf2synteny and this updated format works well with it. Without the pragmas there, I basically just had it emit a warning that coverage would be computed assuming the largest interval endpoint

[2021-09-17 06:51] iminkin commented on #35
Fixed in [1.2.4](https://github.com/medvedevgroup/SibeliaZ/blob/master/NEWS.md).

[2021-09-17 09:47] iminkin commented on #30
Hi all,

Sorry for messing this up. I removed the patch setting DIR to '', should be fixed in [1.2.4](https://github.com/medvedevgroup/SibeliaZ/blob/master/NEWS.md). Special thanks to @dpryan79 for pointing out the root cause.

[2021-10-01 00:52] #35 closed

[2021-10-05 11:49] dongyangzheng commented on #25
hi ，do you solved these？

[2022-01-11 04:24] mainguyenanhvu commented on #22
Have you found the reason?

[2022-03-25 04:03] Alice-yyt opened #36 "more detailed description for output"
Hello, could you please share a more detailed description for output files?:)

[2022-04-01 19:57] iminkin commented on #36
Hi,

Could you please be a bit more specific, i.e. what particular questions do you have about the output?

For reference, more detailed descriptions of the format of the output files can be found here:

http://useast.ensembl.org/info/website/upload/gff.html

https://genome.ucsc.edu/FAQ/FAQformat.html#format5

[2022-04-13 17:32] syngnathid opened #37 "Conda installation doesn't include maf_to_gfa1.py"
I recently installed SibeliaZ as a separate environment using conda and ran the program on two strains of a species. I got the maf and gff output files. However, when I try and convert the maf file to visualize using the python script `maf_to_gfa1.py`, I get a command not found error.

Conda and Program Version:

[code]

### Solutions Tried (without much luck)
1. Manually adding the file (`maf_to_

[2022-04-25 12:09] nick-youngblut opened #38 "support gzip'd input fasta"
Running SibeliaZ v1.2.4 on gzip'ed input fasta files results in the following error:

[code]

Given that the user will almost definitely have their genome fasta files gzip'ed if they have 100's or 1000's (or more), it would be great if SibeliaZ supported gzip'ed (and maybe bzip2) compressed input.

[2022-04-25 12:15] nick-youngblut commented on #19
I'm also using SibeliaZ on very similar bacterial genomes. As a simple test, I tried aligning a genome to itself, and so I expected to see 2 LCBs (the genome assembly contains 2 contigs), instead 286 blocks were found:

[code]

[2022-04-25 14:56] noahaus commented on #19
@nick-youngblut That's pretty interesting to see that. If you dug a bit deeper, I wonder if the LCBs that are created are far apart from each other or relatively close. Maybe SibelaZ is doing something to make sure it doesn't fully collapse all these regions into 1 LCB.

@iminkin do you have any idea what would cause the algorithm to create more LCBs in this situation when the alignment is theoret

[2022-04-25 17:38] nick-youngblut commented on #19
The LCBs seem to be relatively close

[2022-04-25 17:48] noahaus commented on #19
Now, I'm no expert on this particular software, but I remember doing some preliminary reading of the nature paper and this might be something to do with the variation graph path-building step. I'm sure there might be a parameter that will get you the two LCBs you are looking for. But I'd still perhaps wait for an official answer from the creator.

I looked at the documentation and noticed that you

[2022-04-25 17:52] nick-youngblut commented on #19
I've switched over to minimap2, which in my case, provides everything I need

[2022-04-25 19:40] iminkin commented on #37
Hi,

Thank you for the notice. This script has been under experimental development and hence excluded from the "official" bioconda package. I will probably fix it in the next release and make it automatically installed along with everything else.

[2022-04-25 19:52] iminkin commented on #19
Hi,

One possible reason for this behavior are repeats in the genome. SibeliaZ tries to find all conserved blocks and evolutionary relationships between them to the fullest extent. Sometimes it results in a fragmented representation with many blocks. Let's consider an example, here are two genomes represented as sequences of LCBs, each number is an LCB:

Genome 1: +1 +2 +1 +3
Genome 2: +1 +2 +1 +3

[2022-04-25 19:59] iminkin commented on #38
Hi,

Thank you for the suggestion!  I will include it in the next release.

[2022-05-12 13:11] AlisaGU opened #39 "is it suitable for the very big genome?"
Hi,
I have a big genome with 46,139,523,234 bases and 20131 contigs.
Here is the summary of the longest contigs.
[code]

I want to do pairwise genome alignment for it, and am curious about SibeliaZ's ability to handle big genome.

[2022-05-13 03:31] Alice-yyt opened #40 "Apply the tool to virus"
Hello author, i am sorry to disturb you. I want to apply SibeliaZ to virus (for example HIV) to obtain collinear blocks. After that, I will extract SNVs from those collinear blocks. However, I found I can't extract enough SNVs. Do you have some idea to deal with this problem? Thanks a lot!

[2022-05-13 19:18] iminkin commented on #39
Hi,

I think SibeliaZ should be able to handle it. However, it does not produce a pairwise alignment, it computes a multiple alignment instead.

[2022-05-13 19:19] iminkin commented on #40
Hi,

How do you extract SNV from the blocks?

[2022-05-14 03:02] Alice-yyt commented on #40
Thank you for your reply. Yes, I extracted SNVs from blocks.

[2022-05-17 13:54] iminkin commented on #40
Could you please specify more details on how you do that? Do you parse the alignment?

[2022-05-21 05:56] Alice-yyt commented on #40
Thank you for your reply! Yes, I just parse the alignment and find snvs in every block. After that, I just extract kmer from reference genome which contains the snvs I find in blocks before. (my test is based on the COVID19 database). I am trying to distinguish the subtypes in the COVID19.

[2022-06-30 06:11] ohdongha opened #41 "Q on coverage and multi-genome alignment"
Hi, thanks for this fast and easy-to-run aligner :)  I have two questions.

1. How the "coverage" in the report was calculated?  I had a coverage value was 0.95 from a human GRCh38 to T2T alignment run.  Is the coverage = (total non-overlapping length covered by the alignment) / (length of genome 1 + length of genome 2)?
2. The instruction goes `sibeliaz genome1.fa genome2.fa` but what if I want t

[2022-06-30 19:14] iminkin commented on #41
Hi!

The coverage is calculated as # the total number of positions in all genomes covered by the alignment / total length of the genomes. The alignments blocks output by SibeliaZ do not overlap, at least they are not supposed to. You can add as many input genomes as you want. One more note on coverage: SibeliaZ filters out repeats with many copies, so sometimes the coverage can be less than expect

[2022-07-01 17:02] ohdongha commented on #41
Thanks, Ilia, for the quick response :)  I have a few more questions regarding the "non-overlapping" part since this appears a requirement for maf2synteny.

1. The 1st alignment from the GRCh38-T2T comparison (attached below) had numerous (=180) sequences from mostly chromosome 1s from the two assemblies.  Likewise, the alignments at the beginning of the MAF output contained many sequences aligned

[2022-07-11 20:05] iminkin commented on #41
Hi @ohdongha ,

Sorry for the late reply.

1. Yes, each position in the genome is only supposed to be a part of a single alignment block.
2. Yes, lower frequency repeats can be captured, depending on the parameter -a.
3. MAF can be both reference or non-reference based. I am not sure, but it is likely that the notion of MAF being reference-based comes from the fact that earlier WGA tools like Mult

[2022-07-11 20:42] ohdongha commented on #41
Thanks a lot, Ilia.
I noticed that sometimes the first sequence of the SibeliaZ output maf was on - strand direction and some tools (e.g. phyloFit of PHAST) don’t like it.  In case of Cactus, it seems to estimate an ancestral sequence and put it on top of all alignments (even for a pairwise comparison) (and in + direction) so that the ancestral sequence kind of serve as the reference.  But these m

[2022-08-11 13:06] thekswenson opened #42 "(support oneTBB) fatal error: tbb/mutex.h: No such file or directory"
I'm using Ubuntu 22.04 and cannot compile Sibeliaz:
[code]

The problem with with the TwoPaCo submodule and is related to this bug report:
https://github.com/medvedevgroup/TwoPaCo/issues/28

If I'm reading that report correctly, the only way to us Sibeliaz would be to somehow apply a patch from the pufferfish repo. I that correct?

[2022-08-11 13:39] thekswenson commented on #42
I replaced the TwoPaCo submodule with the code from the pufferfish repo.  I then modified added to the CMakeLists.txt from this project:

[code]
I removed the lines
[code]
from the pufferfish CMakeLists.txt that I had copied.

Now TwoPaCo compliles, but alas, the offending code *also exists* in the SibeliaZ source, so now I'm running into the same issue with that code!

[2022-08-11 13:48] iminkin commented on #42
Hi @thekswenson ,

Can you use bioconda on your machine? That is probably the easiest way to install.

[2022-08-11 15:08] thekswenson commented on #42
I forgot about that option. Thanks.

[2022-09-04 21:17] jdwinkler-lanzatech opened #43 "Question about block_coords.gff output"
Hi,

Thanks for your work on SibeliaZ, it looks quite interesting as a potential component for an alignment pipeline I am building. I do have a question though; I am interested in extracting the blocks in the output gff file and converting it to another format to match that currently used by my pipeline, but it seems like I cannot easily map the contig names back to the source file(s). Is there a

[2022-10-21 06:42] jjoets opened #45 "Unexpected output"
Hi,

Thanks a lot for this huge tool. I had a very good experience with it a couple year ago (version 1). I now have other runs to do and I updated to the last version. I was a bit surprised by the outpout : instead of getting one lcb per genome for a unique block ID,  I get several ones. To try to understand what was wrong, I ran again my previous analysis with the same setting but instead of get

[2022-10-27 18:07] iminkin commented on #45
Hi,

I am glad that you found SibeliaZ helpful. This is a bit tricky question. Representation of whole-genome alignment is inherently ambiguous. For example, a single alignment block can be chopped into multiple consecutive blocks and still represent an equivalent alignment. Also, the newer version could generate more blocks due to improvements in sensitivity, which would also result in fragmentin